{% extends 'base.html' %}

{% load i18n %}
{% block title %}{% trans "Game list" %}{% endblock title %}

{% block content %}
{% if object_list %}
    <table class="table">
        <thead>
            <tr>
                <th scope="col">{% trans "Name" %}</th>
                <th scope="col">{% trans "Price" %}</th>
                <th scope="col">{% trans "Game Type" %}</th>
                <th scope="col">{% trans "Play Time" %}</th>
                <th scope="col">{% trans "Number of Players" %}</th>
                <th scope="col">{% trans "Age restriction" %}</th>
            </tr>
        </thead>
        <tbody>
            {% for game in object_list %}
                <tr>
                    <td>{{ game.name }}</td>
                    <td>€ {{ game.price }}</td>
                    <td>{{ game.game_type.name }}</td>
                    <td>{{ game.play_time }} {% trans "minutes" %}</td>
                    <td>{{ game.get_players }} {% trans "players" %}</td>
                    <td>{{ game.get_age_restrictions }} {% trans "year" %}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% else %}
    <p>{% trans "No games yet" %}</p>
{% endif %}

{% endblock content %}