{% extends 'base.html' %}
{% load i18n %}

{% block title %}{% trans "Games" %}{% endblock title %}

{% load thumbnail %}

{% block content %}
<h1 class="mb-3">{% trans "Game overview" %}</h1>

{% for game in object_list %}
    <div class="card mb-3" style="max-width: 540px;">
        <div class="row no-gutters">
            <div class="col-md-4">
            {% thumbnail game.image "240x240" as img %}
                <img src="{{ img.url }}" height="{{ img.height }}" width="{{ img.width }}" class="card-img m-2" alt="{{ game.name }}">
            {% endthumbnail %}
            </div>
            <div class="col-md-8">
                <div class="card-body">
                    <p class="card-text text-uppercase small font-weight-bold">{{ game.game_type.name }}</p>
                    <h5 class="card-title font-weight-bold">{{ game.name }}</h5>

                    <p class="card-text">€ {{ game.price }}</p>

                    <hr />
                    <div class="row">
                        <div class="col">
                            <p class="card-text"><i class="fa fa-users"></i>
                                {{ game.get_players }} {% trans "players" %}
                            </p>
                            <p class="card-text"><i class="fa fa-child"></i>
                                {{ game.get_age_restrictions }} {% trans "year" %}
                            </p>
                        </div>
                        <div class="col">
                            <p class="card-text"><i class="fa fa-clock-o"></i>
                                {{ game.play_time }} {% trans "minutes" %}
                            </p>
                        </div>
                    </div>
                    
                </div>
            </div>
        </div>
    </div>
{% empty %}
    <p>{% trans "No games yet" %}</p>
{% endfor %}
{% endblock content %}