{% load i18n %}

<footer class="container">
    <div class="row">
        <div class="col">
            <p class="text-muted">{% trans "Made by" %} <a href="https://stormheg.co">Storm Heg</a></p>
        </div>
        <div class="col">
            <a href="/admin/">{% trans "To admin panel" %}</a>
        </div>
    </div>
</footer>