{% load i18n %}

<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="/">
    <img src="https://via.placeholder.com/100x40" height="40" alt="Placeholder">
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" href="/">{% trans "Games" %}</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/alternative/">{% trans "Game list" %}</a>
      </li>
  </div>
</nav>